-
  function toISODate(date) {
    return (new Date(Date.parse(date))).toLocaleString('en-US', { month: 'short', day: '2-digit', year: 'numeric' });
  }

doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body
    include components/nav.pug
    main.content
        div.archive--list
            each post in posts
                div.list--item
                    time(datetime!=toISODate(post.attributes.date), pubdate="pubdate")=toISODate(post.attributes.date)
                    a(href="/" + post.path) #[h2=post.attributes.title]
        include components/footer.pug

