-
  function toISODate(date) {
    return (new Date(Date.parse(date))).toLocaleString('en-US', { month: 'short', day: '2-digit', year: 'numeric' });
  }

doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include head.pug
  body
    include nav.pug
    main.content
      div.page--inner
        div.page--wrapper
          div.page--header
            h1 Post Archive
          div.archive--list
            each post in posts
              div.list--item
                time(datetime!=toISODate(post.attributes.date), pubdate="pubdate")=toISODate(post.attributes.date)
                a(href="/posts/" + post.path) #[h2=post.attributes.title]
    include footer.pug

