footer
  p!= "&copy; " + (new Date()).getFullYear() + " " + seo.author + ". All Rights Reserved."
  p Subscribe to the #[a(href="/rss.xml") RSS feed] or the alternate #[a(href="/feed.json") JSON feed] for updates.
