doctype html
html(lang="en")
  head
    if seo.author
      title!="Gallery | " + seo.author
    else
      title=attributes.title
  meta(name="description", content="")
  meta(name="robots", content="noindex")
  include components/head.pug
  link(rel="stylesheet" href="../css/gallery.css")
  script(type="text/javascript" src="../js/gallery.js")
  body
  main.gallery--content
    include components/nav.pug
    article.page--wrapper
    div(class="gallery--grid",id="gallery--image-wrapper")
      each photo in photos
        img.gallery--item(src=photo.src)
    include components/footer.pug
