include mixins/time.pug
doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body.hidden
    include components/nav.pug
    main.content.home
      #slideshow--wrapper 
        div.slide
          img(src="https://s3.us-east-2.amazonaws.com/reckart.blog-images/home/fern-min.jpg" alt="A fern growing out of a moss covered rockface")
      include components/footer.pug

