doctype html
html(lang="en")
  head
    title=title
    meta(name="description", content=description)
    include includes/head.pug
  body
    main.content
      include includes/nav.pug
      include includes/intro.pug
      each post in posts
        article
          div.article--header
            a(href=post.path) #[h2=post.attributes.title]
            time(datetime=(new Date(Date.parse(post.attributes.date))).toISOString(), pubdate="pubdate")!="Posted on " + post.attributes.date
          div.article--content
            | !{post.body}
      include includes/footer.pug
