a(href="/", class="nav--link blog") Blog
a(href="/posts", class="nav--link posts") Archive
a(href="/about", class="nav--link about") About
div.social-links--container
  a(href="https://github.com/tylerreckart", rel="noreferrer", target="_blank")
      div.octocat
        i.fa-brands.fa-github