header
  nav#site--nav
    a(href="/").site--title
      include logo.pug
    div.mobile-nav-menu(id="mobile-nav")
      include nav-menu.pug
    div.nav--link-container(id="nav")
      include nav-menu.pug
    div.nav-menu-trigger(id="mobile-nav-trigger")
      div.nav-menu-trigger--inner