include time.pug
div.next-post--wrapper
  article.next-post--content
    div.next-post--header
      a(href!="/posts/" + nextPost.path).next-post--title
        h2=nextPost.attributes.title
      span
        +time(nextPost.attributes.date)
    div.next-post--body
      | !{nextPost.body}
    a(class="next-post--button" href!="/posts/" + nextPost.path) Continue Reading