doctype html
html(lang="en")
  head
    if seo.author
      title!=attributes.title + " | " + seo.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    include components/head.pug
  body
    include components/nav.pug
    include components/page-body.pug
    include components/footer.pug
