doctype html
html(lang="en")
  head
    if seo.author
      title!=attributes.title + " | " + seo.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    include head.pug
  body
    include nav.pug
    div#page
      include page-body.pug
    include footer.pug
