doctype html
html(lang="en")
  head
    if seo.title
      title=seo.title
    else
      title=""
    if seo.description
      meta(name="description", content=seo.description)
    else
      meta(name="description", content="")
    include components/head.pug
  body
    include components/nav.pug
    main.gallery--container
      div#photo-gallery--section-wrapper
        each image in gallery
          img(src=image.src, class="gallery-page--image")
    include components/footer.pug
