main.content
  div.page--inner
    div.page--wrapper
      article.article-page--wrapper
        div.article--header
          a(href="/posts/" + path) #[h2=attributes.title]
          span
            +time(attributes.date)
        div.article--content
          | !{body}
if nextPost
  include next-post.pug