header
  nav
    a.site--head(href="/")
      img(src=site.icon, width="32px", height="32px")
      h3=site.name
    div.nav--link-container(id="nav")
      a(href="/", class="nav--link home") Home
      a(href="/blog", class="nav--link blog") Blog
      a(href="/about", class="nav--link about") About
