footer
  p!= "&copy; " + (new Date()).getFullYear() + " " + seoConfig.author
  p Subscribe to the #[a(href="/rss.xml") RSS feed] or the alternate #[a(href="/feed.json") JSON feed].
  p Follow #[a(href="https://twitter.com/" + socialConfig.twitter, target="_blank", rel="noreferrer")=socialConfig.twitter] on Twitter if you'd like.
