div.next-post--wrapper
  article.next-post--content
    div.next-post--header
      a(href!="/" + nextPost.path)
        h2=nextPost.attributes.title
      include ../mixins/time.pug
        +time(nextPost.attributes.date)
    div.next-post--body
      | !{nextPost.body}
      a(href!="/" + nextPost.path) Continue Reading →
    include footer.pug