html,
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7em;
}

body.dark {
  background-color: #0f0f0f;
  color: #eee;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0 20px !important;
  }
}

#color-mode--button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

a {
  color: #0079fc;
  text-decoration: none;
}

header {
  margin: 40px 0;
  max-width: 620px;
}

header > p {
  margin: 0;
}

header > p > a {
  text-decoration: none;
}

.alley {
  color: #da2b2e;
}

.twitter {
  color: #0079fc;
}

.github {
  color: #29973f;
}

.instagram {
  background: -webkit-linear-gradient(-120deg, #532fba, #cf0a6e, #f8aa52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-bottom: 40px;
}

article:last-of-type {
  margin-bottom: 0;
}

.article--header > a {
  text-decoration: none;
  color: inherit;
}

.article--header > a > h2 {
  margin: 0 0 10px 0;
}

.article--header > time {
  color: #777;
}

.article--content > p {
  max-width: 620px;
}

.article--content > p > img {
  left: 50%;
  margin-left: -40vw;
  margin-right: -40vw;
  position: relative;
  right: 50%;
  width: 80vw;
}

@media screen and (max-width: 800px) {
  .article--content > p > img {
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 100%;
  }
}

footer {
  font-size: 16px;
}
