html,
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7em;
}

body.dark {
  background-color: #0f0f0f;
  color: #eee;
}

.dark-mode--btn--wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 20px;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .dark-mode--btn--wrapper {
    display: none;
  }
}

.dark-mode--btn--wrapper > span {
  font-size: 12px;
  margin-right: 6px;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: none;
}

.dark-mode--btn {
  width: 42px;
  height: 24px;
  border-radius: 20px;
  background-color: #a5abb0;
  cursor: pointer;
  position: relative;
}

.dark-mode--btn::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translate3d(3px, 3px, 0);
}

body.dark .dark-mode--btn {
  background-color: #fff;
}

body.dark .dark-mode--btn::before {
  transform: translate3d(21px, 3px, 0);
  background-color: #0f0f0f;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0 20px !important;
  }
}

a {
  color: #0079fc;
  text-decoration: none;
}

header {
  margin: 40px 0;
  max-width: 620px;
}

header > p {
  margin: 0;
}

header > p > a {
  text-decoration: none;
}

.alley {
  color: #da2b2e;
}

.github {
  color: #29973f;
}

.instagram {
  background: -webkit-linear-gradient(-120deg, #532fba, #cf0a6e, #f8aa52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 620px;
}

.featured-image--container {
  height: 225px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-page--wrapper,
.page--wrapper {
  margin-top: 40px;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-bottom: 40px;
}

article:last-of-type {
  margin-bottom: 0;
}

.article--header > a {
  text-decoration: none;
  color: inherit;
}

.page--header > h1,
.article--header > h1 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.article--header > a > h2 {
  margin: 0 0 10px 0;
}

.article--header > time {
  color: #777;
}

.page--content > p,
.article--content > p {
  max-width: 620px;
}

.article--content > p > img {
  left: 50%;
  margin-left: -40vw;
  margin-right: -40vw;
  position: relative;
  right: 50%;
  width: 80vw;
}

@media screen and (max-width: 800px) {
  .article--content > p > img {
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 100%;
  }
}

footer {
  font-size: 16px;
  color: #777;
  width: 100%;
  margin-bottom: 24px;
}

footer > p {
  margin: 0;
}

pre > code {
  font-size: 14px;
  overflow: scroll;
  display: block;
  background: #1d1d1d;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  padding: 14px;
  border-radius: 6px;
}

pre .comment,
pre .title {
  color: #969896;
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: #d54e53;
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #e78c45;
}

pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: #b9ca4a;
}

pre .hljs-css .hljs-hexcolor {
  color: #70c0b1;
}

pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: #7aa6da;
}

pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: #c397d8;
}
