a(href="/posts", class="nav--link posts") Posts
a(href="/photos", class="nav--link gallery") Photos
a(href="/projects", class="nav--link projects") Projects
a(href="/about", class="nav--link about") About
div.social-links--container
  a(href="https://instagram.com/tylerreckart", rel="noreferrer", target="_blank")
      div.instagram--bobble
        i.fa-brands.fa-instagram
  a(href="https://github.com/tylerreckart", rel="noreferrer", target="_blank")
      div.octocat
        i.fa-brands.fa-github
  a(href="https://mastodon.social/@tyler", rel="me", target="_blank")
      div.mastodon--head
        i.fa-brands.fa-mastodon