header
  nav#site--nav
    div.site--head
      a(href="/").site--title
        h1 reckart.blog
      div.nav--link-container(id="nav")
        a(href="/", class="nav--link home") Home
        a(href="/archive", class="nav--link posts") Posts
        a(href="/photos", class="nav--link gallery") Photos
        a(href="/about", class="nav--link about") About