header
  nav
    a.site--head(href="/")
      img(id="site--icon", width="32px", height="32px")
    div.nav--link-container(id="nav")
      a(href="/", class="nav--link home") Home
      a(href="/blog", class="nav--link blog") Blog
      a(href="/about", class="nav--link about") About
      a(href="/gallery", class="nav--link gallery") Gallery
