header
  nav#site--nav
    div.site--head
      a(href="/").site--title
        h1 reckart.blog
      div.nav--link-container(id="nav")
        a(href="/", class="nav--link home") Home
        a(href="/archive", class="nav--link blog") Posts
        a(href="https://reckart.photo", class="nav--link gallery") Photos
        a(href="/about", class="nav--link about") About
        button#trigger-open
          i(class="fa-solid fa-palette")
        button#trigger-close.hidden
          i(class="fa-solid fa-xmark")
    div(class="nav--appearance-menu hidden" id="appearance-menu")
      i(class="fa-solid fa-lightbulb")
      span Dark Mode
      div.dark-mode--toggle
      i(class="fa-solid fa-swatchbook")
      span Color Theme
      ul.theme--selector 
        li
          div.red
        li
          div.orange
        li
          div.green
        li
          div.blue.active
        li
          div.purple