header
  nav#site--nav
    a.site--head(href="/") Tyler Reckart's Blog
    div.nav--link-container(id="nav")
      a(href="/", class="nav--link home") Home
      a(href="/blog", class="nav--link blog") Blog
      a(href="/about", class="nav--link about") About
      a(href="https://reckart.photo", class="nav--link gallery") Gallery
