header
  nav#site--nav
    div.site--head
      a(href="/").site--title
        img(src="/img/maple_mark.svg", width="36px" height="36px")
      div.nav-menu-trigger(id="mobile-nav-trigger")
      div.nav--link-container(id="nav")
        a(href="/", class="nav--link home") Home
        a(href="/archive", class="nav--link posts") Posts
        a(href="/photos", class="nav--link gallery") Photos
        //- a(href="/prints", class="nav--link prints") Prints
        a(href="/about", class="nav--link about") About
        //- a(href="/contact", class="nav--link contact") Contact