header
  nav#site--nav
    div.site--head
      a(href="/").site--title
        h1 Tyler Reckart
      div.nav-menu-trigger(id="mobile-nav-trigger")
      div.nav--link-container(id="nav")
        a(href="/posts", class="nav--link posts") Posts
        a(href="/photos", class="nav--link gallery") Photos
        a(href="/projects", class="nav--link projects") Projects
        a(href="/about", class="nav--link about") About