div.newsletter--container#form-wrapper
  h3 Subscribe To My Newsletter
  p Please sign up with your email address to receive news and updates.
  form(action="/add-contact", id="newsletter-form" method="POST" target="empty--frame") 
    input(type="email" name="email" placeholder="Email Address" required)
    input(type="submit" value="Sign Up")
  iframe(name="empty--frame" id="empty--frame" style="display: none;")
  script.
    const form = document.getElementById("newsletter-form");
  
    async function handleFormPost(event) {
      const { target, srcElement } = event;

      if (target === form) {
        event.preventDefault();
        
        const value = srcElement[0].value;
        const request = fetch(`/add-contact?contact=${value}`, { method: 'GET' });
        const response = await request;
        
        if (response.status === 200) {
          const wrapper = document.getElementById("form-wrapper");
          wrapper.innerHTML = '<p class="success-message">Thank you for subscribing! Your email address has been recorded.</p>';
        } else {
          formHTML = form.innerHTML;
          form.innerHTML = formHTML + '<p class="error-message">There was an error processing your request. Please try again.</p>';
        }
      }
    }

    document.addEventListener('submit', handleFormPost);
