meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0, width=device-width")
if seoConfig.title
  meta(property="og:site_name", content=seoConfig.title)
if seoConfig.author
  meta(property="copyright", content!="&copy; " + (new Date()).getFullYear() + " " + seoConfig.author)
link(rel="alternate", type="application/rss+xml", href="/rss.xml")
link(rel="alternate", type="application/json", href="/feed.json")
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
link(rel="stylesheet", type="text/css", href="/css/styles.css")
script(type="text/javascript" src="/js/bundle.js")
if integrations.gaTrackingId
  script(async, src!="https://www.googletagmanager.com/gtag/js?id=" + integrations.gaTrackingId)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('config', !{"'" + integrations.gaTrackingId + "'"});
