#gallery--popup--overlay {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  cursor: pointer;
}

.gallery--grid {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 1000px;
}

.gallery--item {
  margin: 8px;
  border-radius: 12px;
  max-width: 33%;
  cursor: pointer;
  transition: all 300ms ease;
}

.gallery--item:hover {
  transform: scale(1.25) rotate(-1deg);
  z-index: 1000;
}

@media screen and (max-width: 970px) {
  .gallery--grid {
    max-width: 620px;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
  }

  .gallery--item {
    cursor: default;
    margin: 16px 0 16px 0;
    max-width: 100%;
  }

  .gallery--item:first-of-type {
    margin: 0 0 16px 0;
  }

  .gallery--item:last-of-type {
    margin: 16px 0 0 0;
  }

  .gallery--item:hover {
    transform: none;
  }
}

.fadeIn {
  animation: fadeIn 500ms ease;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  50% {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.fadeOut {
  animation: fadeOut 750ms ease;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

.slideUp {
  animation: slideUp 400ms ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    top: 60%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

.slideOutRight {
  animation: slideOutRight 500ms ease;
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(10%, -50%, 0%);
  }
}

.slideOutLeft {
  animation: slideOutLeft 500ms ease;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-10%, -50%, 0%);
  }
}

.slideInLeft {
  animation: slideInLeft 500ms ease;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-10%, -50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate3d(0%, -50%, 0%);
  }
}

.slideInRight {
  animation: slideInRight 500ms ease;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(10%, -50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate3d(0%, -50%, 0%);
  }
}

.slideDown {
  animation: slideDown 750ms ease;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 60%;
  }
}

.image--wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  width: fit-content;
  cursor: default;
}

.gallery--popup--image {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  z-index: 2000;
  opacity: 0;
  transition: transform 500ms ease;
}

.close-btn--wrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: -20px;
  right: -20px;
}

.close-btn--content {
  display: block;
  color: white;
}
