footer
  p!= "&copy; " + (new Date()).getFullYear() + " " + author
  p Subscribe to the #[a(href="/rss.xml") RSS feed] or the alternate #[a(href="/feed.json") JSON feed].
  p Follow #[a(href="https://twitter.com/" + twitterHandle, target="_blank", rel="noreferrer")=twitterHandle] on Twitter if you'd like.
