header
  p #[span(role="img" aria-label="waving hand") 👋] Hi, I'm Tyler. I'm a Senior Software Developer at #[a.alley(href="https://alley.co", target="_blank") Alley]. You can follow me on #[a.twitter(href="https://twitter.com/tylerreckart", target="_blank") Twitter], see my code on #[a.github(href="https://github.com/tylerreckart", target="_blank") Github], view my photos on #[a.instagram(href="https://instagram.com/tylerreckart", target="_blank") Instagram], or read more #[a(href="about") about me].
