header
  nav
    a(href="/")
      img(src="https://emojis.slackmojis.com/emojis/images/1549317933/5264/coding.gif?1549317933", width="32px", height="32px")
      h3=sitename
    include dark-mode-btn.pug
