footer {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
  font-family: 'obviously';
  font-weight: 300;
  font-size: 18px;
}

footer p {
  padding: 0 48px;
}

footer a {
  padding-bottom: 2px;
  font-weight: 600;
  color: var(--white);
}

footer>p {
  margin: 0;
}

@media screen and (max-width: 960px) {
  footer {
    margin-top: 0;
    flex-direction: column;
    font-size: 14px;
  }

  footer>p:first-of-type {
    margin-bottom: 24px;
  }
}