header {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
  width: 100%;
  background-color: #f4f6f7;
  border-bottom: 2px solid #e3e8eb;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 32px 20px;
  width: 100%;
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.nav--link-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.site--title {
  flex: 1;
}

.nav--link,
.site--title > h1 {
  color: var(--theme-ui-colors-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0em;
}

.nav--link:hover,
.nav--link.active,
.site--title {
  text-decoration-color: var(--theme-colors-primary) !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 660px) {
  .nav--link-container {
    flex: 2.5;
  }

  .site--head {
    flex-direction: column;
    max-width: 240px;
    align-self: flex-start;
  }

  .site--title > h1 {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 16px;
  }

  .nav--link {
    font-size: 13px;
  }
}