header {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

nav#site--nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--theme-ui-colors-text);
  align-items: center;
  border-bottom: 2px solid #000;
}

.logo {
  width: var(--logo-width);
  height: auto;
}

nav a {
  color: #fff;
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav--link-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  height: 128px;
}

.site--title {
  flex: 0.25;
  align-self: center;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 225px;
}

.nav--link {
  margin: 0 24px 0px 24px;
  font-family: "Obviously", sans-serif;
  padding-bottom: 8px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.nav--link.active {
  border-bottom: 4px solid var(--purple);
}

.nav--link:hover {
  border-bottom: 4px solid var(--purple);
  text-decoration: none;
}

.nav--link,
.site--title>h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Obviously", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 4px;
}

#mobile-nav-trigger {
  display: none;
  height: 40px;
  width: 40px;
  background-color: var(--purple);
  z-index: 3;
}

#mobile-nav-trigger::before {
  content: '';
  position: relative;
  width: 28px;
  height: 4px;
  background-color: white;
  display: block;
  z-index: 1;
  top: 8px;
  left: 6px;
}

#mobile-nav-trigger::after {
  content: '';
  position: relative;
  width: 28px;
  height: 4px;
  background-color: white;
  display: block;
  z-index: 1;
  top: 20px;
  left: 6px;
}

.nav-menu-trigger--inner {
  content: '';
  position: relative;
  width: 28px;
  height: 4px;
  background-color: white;
  display: block;
  z-index: 2;
  top: 14px;
  left: 6px;
}

#mobile-nav-trigger.active .nav-menu-trigger--inner {
  display: none;
  animation: dissapearWithDelay 350ms linear;
}

#mobile-nav-trigger.active::before {
  top: 18px;
  transform: rotate(45deg);
  animation: mobileNavSlideDownAndRotate 350ms linear;
}

#mobile-nav-trigger.active::after {
  top: 14px;
  transform: rotate(-45deg);
  animation: mobileNavSlideUpAndRotate 350ms linear;
}

@keyframes mobileNavSlideDownAndRotate {
  0% {
    top: 8px;
    transform: rotate(0deg);
  }

  50% {
    top: 18px;
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes mobileNavSlideUpAndRotate {
  0% {
    top: 20px;
    transform: rotate(0deg);
  }

  50% {
    top: 14px;
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

#mobile-nav-trigger.reverse::before {
  animation: mobileNavSlideUpAndRotateOut 350ms linear;
}

#mobile-nav-trigger.reverse::after {
  animation: mobileNavSlideDownAndRotateOut 350ms linear;
}

@keyframes mobileNavSlideUpAndRotateOut {
  0% {
    top: 18px;
    transform: rotate(45deg);
  }

  50% {
    top: 18px;
    transform: rotate(0deg);
  }

  100% {
    top: 8px;
  }
}

@keyframes mobileNavSlideDownAndRotateOut {
  0% {
    top: 14px;
    transform: rotate(-45deg);
  }

  50% {
    top: 14px;
    transform: rotate(0deg);
  }

  100% {
    top: 20px;
  }
}

@media screen and (max-width: 960px) {
  nav {
    border-top: 8px solid #000;
  }

  .nav--link:hover {
    border-bottom: 4px solid transparent;
  }

  .site--title {
    margin: 0;
    flex: 1;
  }

  #nav {
    display: none;
  }

  nav#site--nav {
    margin: 0;
    padding: 20px 40px 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-nav-trigger {
    display: block;
  }
}

.mastodon--head,
.instagram--bobble,
.octocat {
  height: 32px;
  margin-right: 20px;
}

.mastodon--head svg,
.instagram--bobble svg,
.octocat svg {
  height: 32px;
}

.mastodon--head path,
.instagram--bobble path,
.octocat path {
  fill: var(--purple);
  /* opacity: 0.5; */
}

#mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  z-index: 2;
}

#mobile-nav.open {
  display: flex;
}

#mobile-nav .nav--link {
  margin: 0;
}

#mobile-nav .nav--link.active {
  border: none;
}

.social-links--container {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
}

#mobile-nav .social-links--container {
  margin-top: 20px;
  justify-content: flex-start;
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  nav#site--nav {
    display: flex;
    margin: 0;
    flex-direction: row;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
  }

  .site--title {
    display: inline;
  }

  .nav--link {
    margin: 0;
  }

  .nav--link.active {
    border: none;
  }

  .site--head {
    align-items: center;
    margin-top: 20px;
  }

  .site--title h1 {
    height: 33px;
  }
}