header {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
  /* background-color: var(--theme-ui-colors-header); */
  width: 100%;
  margin-bottom: 20px;
  /* border-bottom: 1px solid var(--theme-ui-colors-next--post-separator); */
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 32px 20px;
  width: 100%;
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.site--title {
  flex: 1;
  height: 36px;
}

.nav--link-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.nav--link-container a:last-of-type {
  margin-left: 0;
}

.nav--link {
  color: var(--theme-ui-colors-text);
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  transition: margin 150ms linear;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.nav--link.active::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 2px;
  height: 2px;
  width: 60%;
  background-color: var(--theme-colors-primary);
}

.nav--link:not(.active)::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 2px;
  height: 2px;
  width: 0%;
  background-color: var(--theme-colors-primary);
  transition: all 200ms ease;
}

.nav--link-container a:hover {
  text-decoration: none;
}

.nav--link-container a:hover::after {
  width: 60%;
}

@media screen and (max-width: 660px) {
  .nav--link-container {
    flex: 2.5;
  }

  .site--title > h1 {
    font-size: 13px;
    line-height: 14px;
  }

  .nav--link {
    font-size: 13px;
  }
}