#lightbox--overlay {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2000;
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn 500ms ease;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  50% {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.fadeOut {
  animation: fadeOut 750ms ease;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

.slideUp {
  animation: slideUp 400ms ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    top: 60%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

.slideOutRight {
  animation: slideOutRight 500ms ease;
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(10%, -50%, 0%);
  }
}

.slideOutLeft {
  animation: slideOutLeft 500ms ease;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-10%, -50%, 0%);
  }
}

.slideInLeft {
  animation: slideInLeft 500ms ease;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-10%, -50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate3d(0%, -50%, 0%);
  }
}

.slideInRight {
  animation: slideInRight 500ms ease;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(10%, -50%, 0%);
  }

  100% {
    opacity: 1;
    transform: translate3d(0%, -50%, 0%);
  }
}

.slideDown {
  animation: slideDown 400ms ease;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 60%;
  }
}
