:root {
  --theme-colors-bg-dark: #282828;
  --theme-colors-bg-light: #fff;

  --theme-colors-red: #c6535f;
  --theme-colors-green: #2cb441;
  --theme-colors-yellow: #f6d244;
  --theme-colors-blue: #a2b4bd;
  --theme-colors-dark-blue: #00406e;
  --theme-colors-slate: #a4bfd4;
  --theme-colors-purple: #c792eb;
  --theme-colors-light-green: #5c756a;
  --theme-colors-mid-green: #66776a;
  --theme-colors-dark-green: #203e31;

  --theme-colors-primary: var(--theme-colors-red);

  --theme-ui-colors-primary: var(--theme-colors-slate);
  --theme-ui-colors-secondary: var(--theme-ui-colors-header);

  --theme-ui-colors-header: #004475;

  --theme-ui-colors-text: #1d2023;
  --theme-ui-colors-title: #181c24;
  --theme-ui-colors-comment: #999;

  --theme-ui-colors-bg: #fff;
  --theme-ui-colors-bg-dark: #181c24;
  --theme-ui-colors-overlay-bg: #fff;
  --theme-ui-colors-overlay-bg-dark: #3c3c3c;
  --theme-ui-colors-next--post-bg: #f3f2f6;
  --theme-ui-colors-next--post-separator: #e5eaeb;

  --theme-ui-colors-pre-text: #ffffff;
  --theme-ui-colors-pre-bg: #282b2e;
  --theme-ui-colors-pre-tag: var(--theme-colors-red);
  --theme-ui-colors-pre-number: var(--theme-colors-blue);
  --theme-ui-colors-pre-class: var(--theme-ui-colors-yellow);
  --theme-ui-colors-pre-string: var(--theme-ui-colors-green);
  --theme-ui-colors-pre-css: var(--theme-ui-colors-red);
  --theme-ui-colors-pre-function: var(--theme-ui-colors-aqua);
};

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-bg);
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 1.7em;
  background-color: #fff;
  font-family: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: var(--theme-colors-primary);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

blockquote {
  opacity: .8;
  font-style: italic;
}

.hidden {
  display: none;
}

.page-404 {
  width: 100%;
  height: 400px;
}

.content {
  margin-top: 20px;
}

@media screen and (max-width: 720px) {
  .content {
    width: 100%;
  }
}

#slideshow--wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slideshow--wrapper .slide {
  height: 100%;
  width: 100%;
  display: flex;
}

#slideshow--wrapper .slide img {
  height: auto;
  width: 100%;
  object-fit: cover;
}