:root {
  --orange: #e35e34;
  --purple: #4b61ce;
  --gray: #a2b4bd;
  --pink: #ff375f;
  --red: #ff453a;
  --green: #31d158;
  --yellow: #fed709;
  --blue: #087fff;
  --aqua: #64d1ff;

  /* Modern Code Theme */
  --code-bg: #1a1d23;
  --code-bg-secondary: #22252b;
  --code-text: #e4e6eb;
  --code-comment: #5c6370;
  --code-keyword: #c678dd;
  --code-function: #61afef;
  --code-string: #98c379;
  --code-number: #d19a66;
  --code-class: #e5c07b;
  --code-constant: #56b6c2;
  --code-operator: #abb2bf;
  --code-tag: var(--purple);
  --code-attribute: #e06c75;
  --code-punctuation: #abb2bf;

  --logo-width: 64px;

  /* Legacy support */
  --theme-ui-colors-pre-text: var(--code-text);
  --theme-ui-colors-pre-bg: var(--code-bg);
  --theme-ui-colors-pre-tag: var(--code-tag);
  --theme-ui-colors-pre-number: var(--code-number);
  --theme-ui-colors-pre-class: var(--code-class);
  --theme-ui-colors-pre-string: var(--code-string);
  --theme-ui-colors-pre-css: var(--code-tag);
  --theme-ui-colors-pre-function: var(--code-function);
}

;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--theme-ui-colors-text);
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 1.7em;
  background-color: #A6A6A6;
  font-family: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

body.fixed {
  overflow: hidden;
}

body.fixed::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  font-family: 'Obviously', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  color: inherit;
  text-decoration-color: var(--purple);
}

a:hover {
  text-decoration-color: var(--purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

blockquote {
  opacity: .8;
  font-style: italic;
}

.hidden {
  display: none;
}

.page-404 {
  width: 100%;
  height: 400px;
}

.content {
  margin-top: 64px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page--inner {
  max-width: 624px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
  padding: 48px;
  margin-bottom: 64px;
}

.page--inner h1 {
  font-size: 32px;
}

@media screen and (max-width: 720px) {
  .content {
    width: 100%;
  }
}

#slideshow--wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slideshow--wrapper .slide {
  height: 100%;
  width: 100%;
  display: flex;
}

#slideshow--wrapper .slide img {
  height: auto;
  width: 100%;
  object-fit: cover;
}