.newsletter--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--theme-ui-colors-next--post-bg);
  border-radius: 8px;
  align-items: center;
  padding: 32px;
  margin-bottom: 32px;
}

.newsletter--container p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: 6px;
}

.success-message {
  margin: 0 !important;
}

.newsletter--container input[type="email"] {
  padding: 12px 16px;
  appearance: none;
  border: 1px solid var(--theme-ui-colors-next--post-separator);
  width: 300px;
}

.newsletter--container input[type="submit"] {
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  padding: 12px 18px;
  margin-left: 8px;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .newsletter--container {
    margin: 0 20px;
    text-align: center;
  }

  #newsletter-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .newsletter--container input[type="email"] {
    width: auto;
  }

  .newsletter--container input[type="submit"] {
    margin-left: 0;
    margin-top: 18px;
  }
}

.error-message {
  color: var(--red);
  font-size: 12px !important;
  margin: 18px 0 0 0 !important;
  padding: 0;
  text-align: center;
}