/* ---------- Global ---------- */
:root {
  --theme-ui-colors-primary: #00bff8;
  --theme-ui-colors-secondary: #c792eb;
  --theme-ui-colors-muted: #02243f;
  --theme-ui-colors-backdrop: rgba(2,36,63,0.5);
  --theme-ui-colors-transparent: rgba(2,36,63,0);
  --theme-ui-colors-background: #001627;
  --theme-ui-colors-text: #d5deeb;
  --theme-ui-colors-variable: #87aff3;
  --theme-ui-colors-attribute: #c792eb;
  --theme-ui-colors-definition: #87aff3;
  --theme-ui-colors-keyword: #00bff8;
  --theme-ui-colors-operator: #00bff8;
  --theme-ui-colors-property: #7fdbca;
  --theme-ui-colors-number: #8cec94;
  --theme-ui-colors-string: #bdf0c0;
  --theme-ui-colors-comment: #999;
  --theme-ui-colors-meta: #555;
  --theme-ui-colors-tag: #bf3cca;
};

html,
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-background);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 1.7em;
  height: 100%;
}

@media screen and (max-width: 640px) {
  main {
    margin: 0 20px;
  }
}

/* ---------- Header ---------- */
header {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 640px;
  margin: 20px 0;
}

nav .title {
  font-weight: bold;
  color: var(--theme-ui-colors-primary);
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
  width: 100%;
}

nav p {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.nav--link-container {
  color: var(--theme-ui-colors-primary);
  display: flex;
  flex-direction: row;
}

.nav--link-container a {
  color: inherit;
  text-transform: lowercase;
  margin-right: 20px;
}

.nav--link-container a:last-of-type {
  margin-right: 0;
}

/* ---------- Content ---------- */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--theme-ui-colors-primary);
}

a:hover {
  text-decoration: underline;
}

time {
  opacity: 0.6;
}

blockquote {
  opacity: .8;
  font-style: italic;
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  max-width: 640px;
}

article:last-of-type {
  margin-bottom: 0;
}

.article--header,
.page--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.article--header h1, 
.article--header h2,
.page--header h1, 
.page--header h2 {
  font-size: 18px;
}

.article--header a {
  color: var(--theme-ui-colors-primary);
}

.article--content > p > img {
  left: 50%;
  margin-left: -40vw;
  margin-right: -40vw;
  position: relative;
  right: 50%;
  width: 80vw;
}

/* ---------- Next Post ---------- */

.next-post--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 24px 0;
  background-color: var(--theme-ui-colors-backdrop);
  width: 100%;
}

.next-post--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.next-post--header h1, 
.next-post--header h2 {
  font-size: 18px;
}

.next-post--body {
  margin-bottom: 20px;
}

/* ---------- Archive ---------- */
.archive--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 640px;
  margin-bottom: 20px;
}

.list--item {
  display: flex;
  flex-direction: row;
}

.list--item h2 {
  font-size: 18px;
}

.list--item > time {
  width: 100px;
}

/* ---------- Footer ---------- */

footer {
  margin-bottom: 20px;
}

footer > p {
  margin: 0;
}

/* ---------- Code Formatting ---------- */

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

pre > code {
  font-size: 14px;
  overflow: scroll;
  display: block;
  background: var(--theme-ui-colors-backdrop);
  color: var(--theme-ui-colors-text);
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  padding: 14px;
  border-radius: 6px;
}

code {
  color: var(--theme-ui-colors-comment);
}

pre .comment,
pre .title {
  color: var(--theme-ui-colors-comment);
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: var(--theme-ui-colors-tag);
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: var(--theme-ui-colors-number);
}

pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: var(--theme-ui-colors-keyword);
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: var(--theme-ui-colors-string);
}

pre .hljs-css .hljs-hexcolor {
  color: var(--theme-ui-colors-attribute);
}

pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: var(--theme-ui-colors-property);
}

pre .hljs-title {
  color: var(--theme-ui-colors-attribute);
}

pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: var(--theme-ui-colors-property);
}

.page-404 {
  width: 100%;
  height: 400px;
}
