:root {
  --theme-ui-colors-primary: #0095ff;
  --theme-ui-colors-primary-dark: #005c9d;
  --theme-ui-colors-secondary: #c792eb;
  --theme-ui-colors-muted: #363b3f;
  --theme-ui-colors-light: #fafafa;
  --theme-ui-colors-light-border: rgb(218, 218, 218);
  --theme-ui-colors-backdrop: rgb(2, 36, 63);
  --theme-ui-colors-transparent: rgba(2,36,63,0);
  --theme-ui-colors-background: #fff;
  --theme-ui-colors-text: #2c3035;
  --theme-ui-colors-code-text: #f3f8ff;
  --theme-ui-colors-variable: #87aff3;
  --theme-ui-colors-attribute: #c792eb;
  --theme-ui-colors-definition: #87aff3;
  --theme-ui-colors-keyword: #00bff8;
  --theme-ui-colors-operator: #00bff8;
  --theme-ui-colors-property: #7fdbca;
  --theme-ui-colors-number: #8cec94;
  --theme-ui-colors-string: #bdf0c0;
  --theme-ui-colors-comment: #999;
  --theme-ui-colors-meta: #555;
  --theme-ui-colors-tag: #bf3cca;
  --theme-ui-colors-white: #fff;

  --theme-ui-theme-red: #d4384d;
  --theme-ui-theme-orange: #f2af32;
  --theme-ui-theme-green: #53d57c;
  --theme-ui-theme-blue: #0095ff;
  --theme-ui-theme-purple: #c792eb;
};

html,
body {
  box-sizing: border-box;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-white);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 1.7em;
  height: 100%;
}

/* ---------- Header ---------- */
header {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 640px;
  z-index: 1;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 640px;
  margin: 20px;
}

nav .title {
  font-weight: bold;
  color: var(--theme-ui-colors-attribute);
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.site--title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.site--title > h1 {
  color: var(--theme-ui-colors-primary);
  font-size: 16px;
  line-height: 16px;
}

.nav--link-container {
  color: var(--theme-ui-colors-primary);
  flex-direction: row;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
}

.nav--link-container a:last-of-type {
  margin-left: 0;
}

.nav--link-container .active {
  color: var(--theme-ui-colors-secondary);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav--link {
  position: relative;
  color: var(--theme-ui-colors-primary);
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  transition: margin 150ms linear;
}

@media screen and (max-width: 640px) {
  nav, header {
    width: 100%;
  }

  .nav--link-container {
    width: 70%;
  }
}

/* ---------- Appearance Menu ---------- */
.fa-palette,
.fa-xmark {
  pointer-events: none;
}

#trigger-open,
#trigger-close {
  appearance: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.nav--appearance-menu {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-ui-colors-white);
  align-items: center;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.15);
  padding: 10px 12px;
  position: absolute;
  border-radius: 8px;
  top: 48px;
  right: 20px;
}

.nav--appearance-menu.animate-in {
  animation: fadeIn 300ms linear;
}

.nav--appearance-menu.animate-out {
  animation: fadeOut 300ms linear;
}

.nav--appearance-menu span {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin-right: 8px;
}

.nav--appearance-menu svg {
  margin-right: 6px;
}

.nav--appearance-menu path {
  fill: var(--theme-ui-colors-comment);
}

.fa-xmark path {
  fill: var(--theme-ui-colors-comment);
}

.toggle--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dark-mode--toggle {
  height: 20px;
  width: 36px;
  border-radius: 20px;
  position: relative;
  background-color: var(--theme-ui-colors-text);
  cursor: pointer;
  margin-right: 10px;
}

.dark-mode--toggle::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  background-color: var(--theme-ui-colors-white);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.theme--selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.theme--selector li > div {
  width: 20px;
  height: 20px;
  background-color: var(--theme-ui-colors-primary);
  display: block;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.theme--selector li:last-of-type > div {
  margin-right: 0;
}

.theme--selector .red {
  background-color: var(--theme-ui-theme-red);
}

.theme--selector .orange {
  background-color: var(--theme-ui-theme-orange);
}

.theme--selector .green {
  background-color: var(--theme-ui-theme-green);
}

.theme--selector .blue {
  background-color: var(--theme-ui-theme-blue);
}

.theme--selector .purple {
  background-color: var(--theme-ui-theme-purple);
}

.theme--selector li > div.active {
  width: 12px;
  height: 12px;
  border: 2px solid var(--theme-ui-colors-background);
  box-shadow: 0 0 0 2px var(--theme-ui-colors-primary);
  margin-top: 2px;
}

@keyframes fadeIn {
  0% {
    top: 38px;
    opacity: 0;
  }

  100% {
    top: 48px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    top: 48px;
    opacity: 1;
  }

  100% {
    top: 38px;
    opacity: 0;
  }
}

/* ---------- Content ---------- */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--theme-ui-colors-primary);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

blockquote {
  opacity: .8;
  font-style: italic;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

article p {
  margin: 0 0 16px 0;
  padding: 0;
}

article:last-of-type {
  margin-bottom: 0;
}

.article--header,
.page--header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article--header h1, 
.article--header h2,
.page--header h1, 
.page--header h2 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 6px;
}

.page--header,
.article--header {
  padding: 0 20px;
  margin: 15px 0;
}

.article--header span {
  font-size: 14px;
  line-height: 14px;
  color: var(--theme-ui-colors-comment);
}

.article--header a {
  color: var(--theme-ui-colors-text);
}

.page--content,
.article--content {
  padding: 0 20px;
}

.article--content > p > img {
  margin: 0 -20px;
  width: calc(100% + 40px);
}

/* ---------- Next Post ---------- */

.next-post--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 24px 0;
  background-color: var(--theme-ui-colors-backdrop);
  width: 100%;
}

.next-post--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.next-post--header h1, 
.next-post--header h2 {
  font-size: 18px;
}

.next-post--body {
  margin-bottom: 20px;
}

/* ---------- Archive ---------- */
.archive--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 640px;
}

.list--item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 20px;
}

.list--item:first-of-type {
  margin-top: 20px;
}

.list--item:last-of-type {
  margin-bottom: 20px;
}

.list--item h2 {
  font-size: 18px;
}

.list--item > time {
  margin-right: 10px;
  width: 100px;
  color: var(--theme-ui-colors-comment);
}

/* ---------- Footer ---------- */

footer {
  padding: 20px;
  text-align: left;
  color: var(--theme-ui-colors-comment);
}

footer > p {
  margin: 0;
}

/* ---------- Code Formatting ---------- */

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

pre > code {
  font-size: 14px;
  overflow: scroll;
  display: block;
  background: var(--theme-ui-colors-backdrop);
  color: var(--theme-ui-colors-code-text);
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  margin: 0 -20px;
  padding: 20px;
  border-radius: 6px;
}

code {
  color: var(--theme-ui-colors-comment);
}

pre .comment,
pre .title {
  color: var(--theme-ui-colors-comment);
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: var(--theme-ui-colors-tag);
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: var(--theme-ui-colors-number);
}

pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: var(--theme-ui-colors-keyword);
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: var(--theme-ui-colors-string);
}

pre .hljs-css .hljs-hexcolor {
  color: var(--theme-ui-colors-attribute);
}

pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: var(--theme-ui-colors-property);
}

pre .hljs-title {
  color: var(--theme-ui-colors-attribute);
}

pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: var(--theme-ui-colors-property);
}

.page-404 {
  width: 100%;
  height: 400px;
}

/* ---------- JS Classes ---------- */
.hidden {
  display: none;
}