:root {
  --theme-ui-theme-blue: #0095ff;
  --theme-ui-theme-purple: #c792eb;

  --theme-ui-colors-bulb: #FAD000;
  --theme-ui-colors-white: #fff;

  --theme-ui-box-shadow: 0 4px 14px 2px rgba(0, 0, 0, .1);
  --theme-ui-box-shadow-dark: 0 4px 14px 2px rgba(0, 0, 0, .3);

  --theme-ui-theme-gruvbox: #fb4834;
};

html,
body {
  box-sizing: border-box;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-bg);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 1.7em;
  height: 100%;
}

.content {
  max-width: 640px;
}

/* ---------- Header ---------- */
header {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 640px;
  z-index: 1;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 640px;
  margin: 20px;
}

nav .title {
  font-weight: bold;
  color: var(--theme-ui-colors-attribute);
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.site--title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.site--title > h1 {
  color: var(--theme-ui-colors-primary);
  font-size: 16px;
  line-height: 16px;
}

.nav--link-container {
  color: var(--theme-ui-colors-primary);
  flex-direction: row;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
}

.nav--link-container a:last-of-type {
  margin-left: 0;
}

.nav--link-container .active {
  color: var(--theme-ui-colors-secondary);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav--link {
  position: relative;
  color: var(--theme-ui-colors-primary);
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  transition: margin 150ms linear;
}

@media screen and (max-width: 640px) {
  nav, header {
    width: 100%;
  }

  .nav--link-container {
    width: 70%;
  }
}

/* ---------- Appearance Menu ---------- */
.fa-palette,
.fa-xmark {
  pointer-events: none;
}

#trigger-open,
#trigger-close {
  appearance: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.nav--appearance-menu {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-ui-colors-bg);
  align-items: center;
  box-shadow: var(--theme-ui-box-shadow);
  padding: 10px 12px;
  position: absolute;
  border-radius: 8px;
  top: 48px;
  right: 20px;
}

.nav--appearance-menu.animate-in {
  animation: fadeIn 300ms linear;
}

.nav--appearance-menu.animate-out {
  animation: fadeOut 300ms linear;
}

.nav--appearance-menu span {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin-right: 8px;
}

.nav--appearance-menu svg {
  margin-right: 6px;
}

.nav--appearance-menu path {
  fill: var(--theme-ui-colors-comment);
}

.fa-xmark path {
  fill: var(--theme-ui-colors-comment);
}

.toggle--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dark-mode--toggle {
  height: 20px;
  width: 36px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.dark-mode--toggle.off {
  background-color: var(--theme-ui-colors-secondary);
}

.dark-mode--toggle.on {
  background-color: var(--theme-ui-colors-primary);
}

.dark-mode--toggle.off::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  background-color: var(--theme-ui-colors-bg);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.dark-mode--toggle.on::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  background-color: var(--theme-ui-colors-bg-dark);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

.theme--selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.theme--selector li > div {
  width: 20px;
  height: 20px;
  background-color: var(--theme-ui-colors-primary);
  display: block;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.theme--selector li:last-of-type > div {
  margin-right: 0;
}

.theme--selector .gruvbox {
  background-color: var(--theme-ui-theme-gruvbox);
}

.theme--selector .orange {
  background-color: var(--theme-ui-theme-orange);
}

.theme--selector .paper {
  background-color: var(--theme-ui-theme-paper);
}

.theme--selector .blue {
  background-color: var(--theme-ui-theme-blue);
}

.theme--selector .shades-of-purple {
  background-color: var(--theme-ui-theme-purple);
}

.theme--selector li > div.active {
  width: 14px;
  height: 14px;
  border: 2px solid var(--theme-ui-colors-bg);
  box-shadow: 0 0 0 2px var(--theme-ui-colors-primary);
  margin-top: 1px;
}

@keyframes fadeIn {
  0% {
    top: 38px;
    opacity: 0;
  }

  100% {
    top: 48px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    top: 48px;
    opacity: 1;
  }

  100% {
    top: 38px;
    opacity: 0;
  }
}

/* ---------- Content ---------- */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--theme-ui-colors-secondary);
}

a:hover {
  text-decoration-color: var(--theme-ui-colors-secondary) !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

blockquote {
  opacity: .8;
  font-style: italic;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

article p {
  margin: 0 0 16px 0;
  padding: 0;
}

article:last-of-type {
  margin-bottom: 0;
}

.article--header,
.page--header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article--header h1, 
.article--header h2,
.page--header h1, 
.page--header h2 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 6px;
}

.page--header,
.article--header {
  padding: 0 20px;
  margin: 15px 0;
}

.article--header time {
  color: var(--theme-ui-colors-comment);
}

.article--header span {
  font-size: 14px;
  line-height: 14px;
  color: var(--theme-ui-colors-comment);
}

.article--header a {
  color: var(--theme-ui-colors-text);
}

.page--content,
.article--content {
  padding: 0 20px;
}

.article--content > p > img {
  margin: 0 -20px;
  width: calc(100% + 40px);
}

/* ---------- Photo Gallery ---------- */
.photo-gallery--wrapper {
  width: 1200px;
  column-count: 4;
  column-gap: 0px;
  position: relative;
  column-gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.photo-gallery--image {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
  max-width: 300px;
  margin-bottom: 10px;
}

.photo-gallery--wrapper img {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .photo-gallery--wrapper {
    width: 900px;
    column-count: 3;
  }
}

@media screen and (max-width: 900px) {
  .photo-gallery--wrapper {
    width: 600px;
    column-count: 2;
  }
}

@media screen and (max-width: 600px) {
  .photo-gallery--wrapper {
    width: 100%;
    column-count: 1;
  }

  .photo-gallery--image {
    max-width: 100%;
  }
}

/* ---------- Next Post ---------- */

.next-post--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 24px 0;
  background-color: var(--theme-ui-colors-next--post-bg);
  width: 100%;
}

.next-post--content {
  max-width: 620px;
  margin: 0 20px;
}

.next-post--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.next-post--header h1, 
.next-post--header h2 {
  font-size: 22px;
}

.next-post--header time {
  color: var(--theme-ui-colors-comment);
}

.next-post--body {
  margin-bottom: 20px;
}

/* ---------- Archive ---------- */
.archive--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 640px;
}

.list--item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 20px;
}

.list--item:first-of-type {
  margin-top: 20px;
}

.list--item:last-of-type {
  margin-bottom: 20px;
}

.list--item h2 {
  font-size: 18px;
}

.list--item > time {
  margin-right: 10px;
  width: 100px;
  color: var(--theme-ui-colors-comment);
}

/* ---------- Footer ---------- */

footer {
  padding: 20px;
  text-align: left;
  color: var(--theme-ui-colors-comment);
}

.next-post--content footer {
  padding: 20px 0;
}

footer > p {
  margin: 0;
}

/* ---------- Code Formatting ---------- */

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

pre > code {
  font-size: 14px;
  overflow: scroll;
  display: block;
  background: var(--theme-ui-colors-pre-bg);
  color: var(--theme-ui-colors-pre-text);
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  margin: 0 -20px;
  padding: 20px;
  border-radius: 6px;
}

code {
  color: var(--theme-ui-colors-comment);
}

pre .comment,
pre .title {
  color: var(--theme-ui-colors-comment);
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: var(--theme-ui-colors-pre-tag);
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: var(--theme-ui-colors-pre-number);
}

pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: var(--theme-ui-colors-pre-class);
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: var(--theme-ui-colors-pre-string);
}

pre .hljs-css .hljs-hexcolor {
  color: var(--theme-ui-colors-pre-css);
}

pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: var(--theme-ui-colors-pre-function);
}

pre .hljs-title {
  color: var(--theme-ui-colors-pre-string);
}

pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: var(--theme-ui-colors-pre-tag);
}

.page-404 {
  width: 100%;
  height: 400px;
}

/* ---------- JS Classes ---------- */
.hidden {
  display: none;
}

/* ----------- Dark Mode Overrides ---------- */
body.dark {
  background-color: var(--theme-ui-colors-bg-dark);
  color: var(--theme-ui-colors-text-dark);
}

body.dark .nav--appearance-menu {
  background-color: var(--theme-ui-colors-bg-dark);
  box-shadow: var(--theme-ui-box-shadow-dark);
}

body.dark .theme--selector li > div.active {
  border: 2px solid var(--theme-ui-colors-bg-dark);
}

body.dark footer {
  color: var(--theme-ui-colors-comment-dark);
}

body.dark .nav--appearance-menu path {
  fill: var(--theme-ui-colors-comment-dark);
}

body.dark .fa-xmark path {
  fill: var(--theme-ui-colors-comment-dark);
}

body.dark .fa-lightbulb path {
  fill: var(--theme-ui-colors-bulb);
}

body.dark .article--header h1, 
body.dark .article--header h2 {
  color: var(--theme-ui-colors-title-dark);
}

body.dark nav .site--title h1 {
  color: var(--theme-ui-colors-primary);
}

body.dark .article--header span {
  color: var(--theme-ui-colors-comment-dark);
}

body.dark .article--header time {
  color: var(--theme-ui-colors-comment-dark);
}

body.dark .next-post--header time {
  color: var(--theme-ui-colors-comment-dark);
}

body.dark .next-post--wrapper {
  background-color: var(--theme-ui-colors-next--post-bg-dark);
}

body.theme--gruvbox {
  --theme-colors-bg-dark: #282828;
  --theme-colors-bg-light: #fff;

  --theme-colors-red: #fb4834;
  --theme-colors-green: #b8bb26;
  --theme-colors-yellow: #fadb2f;
  --theme-colors-blue: #83a598;
  --theme-colors-purple: #d3869b;
  --theme-colors-aqua: #8ec07c;

  --theme-ui-colors-primary: var(--theme-colors-red);
  --theme-ui-colors-secondary: var(--theme-colors-blue);

  --theme-ui-colors-text: #2c3035;
  --theme-ui-colors-text-dark: #f0eadb;
  --theme-ui-colors-title: #000;
  --theme-ui-colors-title-dark: #83a598;
  --theme-ui-colors-comment: #999;
  --theme-ui-colors-comment-dark: #8f8d8d;

  --theme-ui-colors-bg: #fff;
  --theme-ui-colors-bg-dark: #282828;
  --theme-ui-colors-overlay-bg: #fff;
  --theme-ui-colors-overlay-bg-dark: #3c3c3c;
  --theme-ui-colors-next--post-bg: #f3efec;
  --theme-ui-colors-next--post-bg-dark: #504946;

  --theme-ui-colors-pre-text: #f0eadb;
  --theme-ui-colors-pre-bg: #373635;
  --theme-ui-colors-pre-tag: var(--theme-colors-red);
  --theme-ui-colors-pre-number: var(--theme-colors-green);
  --theme-ui-colors-pre-class: var(--theme-ui-colors-yellow);
  --theme-ui-colors-pre-string: var(--theme-ui-colors-blue);
  --theme-ui-colors-pre-css: var(--theme-ui-colors-purple);
  --theme-ui-colors-pre-function: var(--theme-ui-colors-aqua);
}

body.theme--blue {
  --theme-colors-bg-dark: #282828;
  --theme-colors-bg-light: #fff;

  --theme-colors-red: #fb4834;
  --theme-colors-green: #aecc25;
  --theme-colors-yellow: #fadb2f;
  --theme-colors-blue: #0095ff;
  --theme-colors-purple: #c792eb;
  --theme-colors-aqua: #8dc8a5;

  --theme-ui-colors-primary: var(--theme-colors-blue);
  --theme-ui-colors-secondary: var(--theme-colors-purple);

  --theme-ui-colors-text: #2c3035;
  --theme-ui-colors-text-dark: #f1f4f7;
  --theme-ui-colors-title: #000;
  --theme-ui-colors-title-dark: var(--theme-colors-blue);
  --theme-ui-colors-comment: #999;
  --theme-ui-colors-comment-dark: #8d8e8f;

  --theme-ui-colors-bg: #fff;
  --theme-ui-colors-bg-dark: #181c24;
  --theme-ui-colors-overlay-bg: #fff;
  --theme-ui-colors-overlay-bg-dark: #3c3c3c;
  --theme-ui-colors-next--post-bg: #eff3f4;
  --theme-ui-colors-next--post-bg-dark: #252b34;

  --theme-ui-colors-pre-text: #ffffff;
  --theme-ui-colors-pre-bg: #282b2e;
  --theme-ui-colors-pre-tag: var(--theme-colors-purple);
  --theme-ui-colors-pre-number: var(--theme-colors-blue);
  --theme-ui-colors-pre-class: var(--theme-ui-colors-yellow);
  --theme-ui-colors-pre-string: var(--theme-ui-colors-green);
  --theme-ui-colors-pre-css: var(--theme-ui-colors-red);
  --theme-ui-colors-pre-function: var(--theme-ui-colors-aqua);
}
